absl-py
astunparse
cachetools
certifi
charset-normalizer
crcmod
cycler
Cython
flatbuffers
fonttools
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
h5py
httplib2
idna
importlib-metadata
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
matplotlib
numpy
oauth2client
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow==9.0.0
protobuf
pyasn1
pyasn1-modules
pycocotools
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.12.0
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt
zipp